body
{
	background-color: white;
	color:black;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.nav-item a:active 
{
    background-color: purple;
}

.navbar-brand
{
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}
.navbar-nav
{
    text-transform: uppercase;
    
    
}

.big-banner
{

    background-image:url('images/hero_2.jpg');
    width: 100%;
    height: 1000px;
    background-position: 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
    
   
}

@media  (max-width:990px){

    .navbar
    {
        background-color: black;
    }

}


.row
{

    margin:10rem 0 10rem 0!important;

}






